@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&subset=hebrew");
@import url("https://fonts.googleapis.com/css?family=Suez+One");
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column; }

body > * {
  flex-shrink: 0; }

.work {
  display: block;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-filter: drop-shadow(-30px -5px 40px rgba(78, 18, 18, 0.445));
  filter: drop-shadow(-30px -5px 40px rgba(78, 18, 18, 0.445)); }

.pin {
  width: 40%; }

#box {
  display: table;
  width: 100%; }

#text {
  width: 20%;
  padding: 5%;
  position: absolute;
  right: 0px;
  direction: rtl;
  font-size: 18pt;
  text-align: justify;
  font-family: 'Heebo', sans-serif; }

#text > h3 {
  font-size: 36pt;
  font-family: "Heebo", sans-serif;
  font-weight: 800; }

#graphics {
  background-color: #b6701e;
  position: absolute;
  left: 0px;
  width: 70%;
  padding-top: calc(5% + 3em); }
